@media (max-width: 1300px) {
  /* Navbar */
  .header_wrapper .menu-navbar-nav {
    width: auto;
  }
}
@media (max-width: 1230px) {
  /* Navbar */
  .header_wrapper .nav-item {
    margin: 0 5px;
  }
  .header_wrapper .learn-more-btn {
    padding: 12px 10px !important;
  }
  /* Banner */
  .banner_wrapper .banner-title {
    font-size: 50px;
  }
}
@media (max-width: 1070px) {
  /* Navbar */
  .header_wrapper .nav-item .nav-link {
    font-size: 16px;
  }
  /* About */
  .about_wrapper .about_title {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  /* Navbar */
  .header_wrapper .navbar-brand img {
    width: 180px;
  }
  .header_wrapper .navbar-toggler,
  .header_wrapper .navbar-toggler:focus {
    border: 0;
    box-shadow: none;
  }
  .header_wrapper .menu-navbar-nav {
    text-align: center;
  }
  .header_wrapper .nav-item .nav-link {
    margin-top: 15px;
    font-size: 18px;
  }
  .header_wrapper .nav-item:last-child .nav-link {
    margin-bottom: 20px;
  }
  .header_wrapper .learn-more-btn {
    padding: 12px 29px !important;
  }
  .header_wrapper .navbar-collapse {
    background: var(--bg-white);
  }
  /* Banner */
  .banner_wrapper .banner-title {
    font-size: 36px;
  }
  /* About */
  .about_wrapper .about_number {
    margin: 20px auto;
  }
  .about_wrapper .about_title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  /* Banner */
  .banner_wrapper .banner-title {
    padding: 100px 0 100px;
  }
  .banner_wrapper .row {
    flex-direction: column-reverse;
  }
  .banner_wrapper .learn-more-btn-section {
    justify-content: center;
  }
  /* Pricing */
  .free_trial .free_title {
    font-size: 24px;
  }
  /* 10 FAQ */
  .faq_wrapper .accordion-button {
    font-size: 18px;
  }
  .footer_wrapper .footer_logo img {
    max-width: 50%;
  }
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-light-2);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-black);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-black);
}
